<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置目标对象-->
    <bean id="messageService"  class="com.wy.aop1.MessageServiceImpl"/>

    <!--配置增强-->
    <bean id="aroundAdvice" class="com.wy.aop2.MyAroundAdvice"/>

    <bean id="myPointAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="pattern" value=".*update.*"/>
        <property name="advice" value="aroundAdvice"/>
    </bean>

    <!--基于后处理bean,根据名称生成代理-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

</beans>