<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置目标对象-->
    <bean id="messageService"  class="com.wy.aop2.MessageService"/>

    <!--配置增强-->
    <bean id="myAroundAdvice" class="com.wy.aop2.MyAroundAdvice"/>

    <!--配置代理对象-->
    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="messageService"/> <!--要生成代理的目标对象,对类代理，不用设置接口-->
        <property name="interceptorNames" value="myAroundAdvice"/> <!--需要织入目标的增强名字-->
        <property name="proxyTargetClass" value="true"/><!--需要织入目标的增强名字-->
    </bean>
</beans>